p {
	font-family: sans-serif;
	color: black;
}
html*
 {font="bold"
 }
 body {
  margin: 50px;
  background-color: lightblue;
}

p {padding-bottom 2cm;
}
#awesomeText {font-family: 'Times New Roman', Georgia, serif;}
.soft {color:#a8a8a8;}
.center {text-align:center;}
.container {margin:0 auto;}
